/* ESTILO SITE DESCODIFICADAS (VEGRANGO) - PÁGINA GALERIA (antiga pág NA MÍDIA) */

* {
    font-family: sans-serif; /*para se Roboto nao estiver disponível*/
    font-family: Roboto;
    font-weight: normal; /*padrao para h1 é negrito, entao o titulo estava ficando em negrito tb*/
}

body {
    background-color: #f5f5f5;
    margin: 0;
}

/*INICIO HEADER*/
.carousel-slide {
    height: 10%;
/*     width: 100%;
    height: 483.17px; */
/*     border-bottom: 500px;
    border-color:  rgba(12,128,121,1);  */
/*  background-image: linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5)), url("home-page-background.jpg"); */ /*escurece imagem*/
}

#carrossel{
    padding-top: none;
    position: absolute; /*para que z-index funcione, position deve ser absolute - checar*/
    z-index: -1;
    width: 100%;
}

/*NAO CONSIGO AUMENTAR IMAGEM 1 OU DIMINUIR 2 E 3 */
/* .carousel-inner {
    height: 10%;
} */

#navbar {
    display: inline-flex; /*diferenca entre inline-flex e inline?*/
    background-color: '';
/*  margin: 0px; */
/*  color: white;
    font-weight: bold; */
    justify-content: space-between; /*sem isso o text-align: left dos topicos nao funciona*/
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 1;
/*  flex-direction: row; */
/* nao parece fazer diferença
    transition: opacity .125s;
    transition-duration: 5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: opacity; */
}

.logo {
    display: inline-flex;
    height: 70%;
    text-align: left;
    padding: 5% 30%;
    box-sizing: content-box; /* default */
    padding-top: 15%;
}

#texto-logo {
    display: inline-flex;
    position: relative;
    right: 145%;
    font-size: 200%;
    color: white;
}

/* tira sublinhado do link */
#texto-logo-link {
    text-decoration: none;
    height: 2px;
    padding-top: 1%;
}

#icone-media {
    margin-right: 10px;
}

.menu .topicos-menu {
    display: inline-flex;
    position: relative;
    bottom: 10%;
    text-align: right;
    list-style-type: none; /*tira bolinha dos topicos*/
    font-size: 130%;
    padding-top: 5%;
}

.menu .topicos-menu a {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 120%;
    color: white;
    font-weight: bolder;
    text-decoration: none; /* tira sublinhado default */
}

.menu .topicos-menu a:hover {
    color: lightgray;
}

/* deixa sublinhado verde apenas na página que está sendo acessada */
#sublinhado-pg-midia {
    text-decoration-line: underline;
    text-decoration-thickness: 45%;
    text-decoration-color: rgba(12,128,121,1);
    text-underline-offset: 74%;
}

/* busca navbar */
.button {
	display: inline-block;
	font-size: 14px;
	height: 28px;
	line-height: 50px;
	color: white;
	text-decoration: none;
	cursor: pointer;
/* 	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none; */
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
    position: absolute;
	font-size: 200%;
	width: 100%;
	margin: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
	left: 49px;
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}
/* fim busca navbar */

#titulo-subtitulo {
    position: relative;
    top: 25%;
    padding: 20%;
    color: white;
    text-align: center;

}

#titulo {
    font-size: 63pt;
    margin: auto;
    padding: 10%;
    font-size: 700%;
    font-weight: bolder;
}

#subtitulo {
    font-size: 300%;
    font-weight: bolder;
}

header {
    margin-bottom: 20%;
}
/*FIM HEADER*/

/* INICIO MAIN */

/* The grid div is the grid container, and all the direct child elements are the grid items. When we defined the grid tracks with grid-template-columns and grid-template-rows, grid provided us numbered lines called the grid lines to use for positioning the items. You can refer to each grid line by a numerical index. */
/* Columns start at one, from left to right by default, and rows also begin at one from top to bottom. It takes two grid lines to make a single column or row, one line on either side, so our 8-column and 8-row grid consist of
9-column lines and 9-row lines.

The vertical lines 1 and 2 determine the start and end points of the first column. Lines 2 and 3 the second column and so on. Similarly, horizontal lines 1 and 2 determine the position of the first row, and lines 2 and 3 the second row and so on. Knowing the above concepts will help you understand how we are going to position items (images) on our grid. */
#album {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(15,5vw); /* 5vw: 5% of viewport width  */
    grid-gap: 5px;
    padding-left: 10%;
}

.album_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Setting the object fit value to cover is like setting the background size to cover for the background image. We are doing this so the image can fill the height and width of its box (the grid item), maintaining its aspect ratio.

Note: The object fit property only works if we set the width and height properties. */
}

.album_item-1 { /*churrasco seitan*/
    grid-column-start: 1; 
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 8;
}

.album_item-2 { /*nhoque pesto nozes*/
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 6;
}

.album_item-3 { /*mix legumes*/
    grid-column-start: 5;
    grid-column-end: 12;
    grid-row-start: 6;
    grid-row-end: 11;
}

.album_item-4 { /*salada tofu*/
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 15;
}

.album_item-5 {  /*dumpling*/
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 15;
}

.album_item-6 {  /*salada lentilhas*/
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 11;
}

.album_item-7 { /*yakissoba*/
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 11;
    grid-row-end: 15;
}

.album_item-8 { /*sopa abóbora*/
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 6;
}

.album_item-9 { /*macarrao ao funghi*/
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 11;
    grid-row-end: 15;
}

#midia-section {
    text-align: center;
}

#midia-texto {
    font-size: 40px;
    margin-bottom: 5%;
}

#midia-video {
    padding: 20px;
}

/* RODAPE */
.rodape {
    margin: 30px;
    margin-right: 50px;
}

#rodapetexto {
    color: rgba(33,33,33,1);
    font-weight: bold;
    font-size: 12px;
    text-align: right;
}